BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clock50MHz" SITE "F1";
IOBUF  PORT "clock50MHz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock50MHz" 50 MHZ;

LOCATE COMP "clock12MHz" SITE "G2";
IOBUF  PORT "clock12MHz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock12MHz" 74.25 MHZ;

LOCATE COMP "nReset" SITE "G1";
IOBUF  PORT "nReset" PULLMODE=UP IO_TYPE=LVCMOS33;

# UART
LOCATE COMP "RxD" SITE "T1";
LOCATE COMP "TxD" SITE "R1";
IOBUF PORT "RxD" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "TxD" PULLMODE=NONE IO_TYPE=LVCMOS33;

# the spi-flash
LOCATE COMP "spiScl" SITE "L20";
LOCATE COMP "spiNCs" SITE "M20";
LOCATE COMP "spiSiIo0" SITE "K20";
LOCATE COMP "spiSoIo1" SITE "M19";
LOCATE COMP "spiIo2" SITE "L19";
LOCATE COMP "spiIo3" SITE "N19";
IOBUF PORT "spiScl" IO_TYPE=LVCMOS18;
IOBUF PORT "spiNCs" IO_TYPE=LVCMOS18;
IOBUF PORT "spiSiIo0" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "spiSoIo1" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "spiIo2" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "spiIo3" PULLMODE=UP IO_TYPE=LVCMOS18;

# The buttons, joystick and dipswitch
LOCATE COMP "nButtons[0]" SITE "M18";
LOCATE COMP "nButtons[1]" SITE "M17";
LOCATE COMP "nButtons[2]" SITE "L18";
LOCATE COMP "nButtons[3]" SITE "J18";
LOCATE COMP "nButtons[4]" SITE "J17";
LOCATE COMP "nJoystick[0]" SITE "L17";
LOCATE COMP "nJoystick[1]" SITE "K19";
LOCATE COMP "nJoystick[2]" SITE "K18";
LOCATE COMP "nJoystick[3]" SITE "N16";
LOCATE COMP "nJoystick[4]" SITE "N17";
LOCATE COMP "nDipSwitch[0]" SITE "D19";
LOCATE COMP "nDipSwitch[1]" SITE "D17";
LOCATE COMP "nDipSwitch[2]" SITE "J16";
LOCATE COMP "nDipSwitch[3]" SITE "H16";
LOCATE COMP "nDipSwitch[4]" SITE "C20";
LOCATE COMP "nDipSwitch[5]" SITE "C18";
LOCATE COMP "nDipSwitch[6]" SITE "D18";
LOCATE COMP "nDipSwitch[7]" SITE "D20";
IOBUF PORT "nButtons[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nButtons[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nButtons[2]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nButtons[3]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nButtons[4]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nJoystick[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nJoystick[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nJoystick[2]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nJoystick[3]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nJoystick[4]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[0]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[1]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[2]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[3]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[4]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[5]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[6]" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "nDipSwitch[7]" PULLMODE=UP IO_TYPE=LVCMOS18;

# RGB-Array
LOCATE COMP "rgbRow[0]" SITE "B6";
LOCATE COMP "rgbRow[1]" SITE "J3";
LOCATE COMP "rgbRow[2]" SITE "K3";
LOCATE COMP "rgbRow[3]" SITE "B17";
LOCATE COMP "red[0]" SITE "A7";
LOCATE COMP "red[1]" SITE "C6";
LOCATE COMP "red[2]" SITE "D13";
LOCATE COMP "red[3]" SITE "B12";
LOCATE COMP "red[4]" SITE "C11";
LOCATE COMP "red[5]" SITE "C10";
LOCATE COMP "red[6]" SITE "E9";
LOCATE COMP "red[7]" SITE "B9";
LOCATE COMP "red[8]" SITE "C8";
LOCATE COMP "red[9]" SITE "E7";
LOCATE COMP "green[0]" SITE "C7";
LOCATE COMP "green[1]" SITE "D6";
LOCATE COMP "green[2]" SITE "E13";
LOCATE COMP "green[3]" SITE "C12";
LOCATE COMP "green[4]" SITE "E11";
LOCATE COMP "green[5]" SITE "A11";
LOCATE COMP "green[6]" SITE "A10";
LOCATE COMP "green[7]" SITE "A9";
LOCATE COMP "green[8]" SITE "D8";
LOCATE COMP "green[9]" SITE "B8";
LOCATE COMP "blue[0]" SITE "E6";
LOCATE COMP "blue[1]" SITE "J4";
LOCATE COMP "blue[2]" SITE "D12";
LOCATE COMP "blue[3]" SITE "D11";
LOCATE COMP "blue[4]" SITE "B11";
LOCATE COMP "blue[5]" SITE "B10";
LOCATE COMP "blue[6]" SITE "D9";
LOCATE COMP "blue[7]" SITE "E8";
LOCATE COMP "blue[8]" SITE "A8";
LOCATE COMP "blue[9]" SITE "D7";
IOBUF PORT "rgbRow[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "rgbRow[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "rgbRow[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "rgbRow[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "red[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "green[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "blue[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# HDMI interface
LOCATE COMP "pixelClock" SITE "N4";
LOCATE COMP "horizontalSync" SITE "K4";
LOCATE COMP "verticalSync" SITE "K5";
LOCATE COMP "activePixel" SITE "L4";
LOCATE COMP "hdmiRed[0]" SITE "B19";
LOCATE COMP "hdmiRed[1]" SITE "A19";
LOCATE COMP "hdmiRed[2]" SITE "B18";
LOCATE COMP "hdmiRed[3]" SITE "A18";
LOCATE COMP "hdmiRed[4]" SITE "A17";
LOCATE COMP "hdmiGreen[0]" SITE "P5";
LOCATE COMP "hdmiGreen[1]" SITE "N5";
LOCATE COMP "hdmiGreen[2]" SITE "L5";
LOCATE COMP "hdmiGreen[3]" SITE "J5";
LOCATE COMP "hdmiGreen[4]" SITE "B20";
LOCATE COMP "hdmiBlue[0]" SITE "L3";
LOCATE COMP "hdmiBlue[1]" SITE "M4";
LOCATE COMP "hdmiBlue[2]" SITE "M3";
LOCATE COMP "hdmiBlue[3]" SITE "N3";
LOCATE COMP "hdmiBlue[4]" SITE "P4";
IOBUF PORT "pixelClock" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "horizontalSync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "verticalSync" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "activePixel" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiRed[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiGreen[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "hdmiBlue[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

#camera interface
LOCATE COMP "SCL" SITE "P3";
LOCATE COMP "SDA" SITE "K2";
LOCATE COMP "camPclk" SITE "H2";
LOCATE COMP "camHsync" SITE "J1";
LOCATE COMP "camVsync" SITE "H1";
LOCATE COMP "camData[0]" SITE "P2";
LOCATE COMP "camData[1]" SITE "P1";
LOCATE COMP "camData[2]" SITE "N2";
LOCATE COMP "camData[3]" SITE "N1";
LOCATE COMP "camData[4]" SITE "L1";
LOCATE COMP "camData[5]" SITE "M1";
LOCATE COMP "camData[6]" SITE "K1";
LOCATE COMP "camData[7]" SITE "L2";
IOBUF PORT "SCL" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "SDA" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "camPclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camHsync" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camVsync" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "camData[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# The seven segment display
LOCATE COMP "displaySelect[0]" SITE "C17";
LOCATE COMP "displaySelect[1]" SITE "D16";
LOCATE COMP "displaySelect[2]" SITE "C16";
LOCATE COMP "nSegments[0]" SITE "D14"; # Segment A
LOCATE COMP "nSegments[1]" SITE "C13"; # Segment B
LOCATE COMP "nSegments[2]" SITE "E14"; # Segment C
LOCATE COMP "nSegments[3]" SITE "D15"; # Segment D
LOCATE COMP "nSegments[4]" SITE "C15"; # Segment E
LOCATE COMP "nSegments[5]" SITE "E15"; # Segment F
LOCATE COMP "nSegments[6]" SITE "B13"; # Segment G
LOCATE COMP "nSegments[7]" SITE "B15"; # Segment DP
IOBUF PORT "displaySelect[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "displaySelect[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "displaySelect[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "nSegments[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# The SDRAM
LOCATE COMP "sdramClk" SITE "G19";
LOCATE COMP "sdramCke" SITE "F17";
LOCATE COMP "sdramCsN" SITE "R20";
LOCATE COMP "sdramRasN" SITE "R18";
LOCATE COMP "sdramCasN" SITE "R17";
LOCATE COMP "sdramWeN" SITE "N18";
LOCATE COMP "sdramDqmN[0]" SITE "T17";
LOCATE COMP "sdramDqmN[1]" SITE "G20";
LOCATE COMP "sdramAddr[0]" SITE "P17";
LOCATE COMP "sdramAddr[1]" SITE "P20";
LOCATE COMP "sdramAddr[2]" SITE "N20";
LOCATE COMP "sdramAddr[3]" SITE "P16";
LOCATE COMP "sdramAddr[4]" SITE "H17";
LOCATE COMP "sdramAddr[5]" SITE "J20";
LOCATE COMP "sdramAddr[6]" SITE "H18";
LOCATE COMP "sdramAddr[7]" SITE "H20";
LOCATE COMP "sdramAddr[8]" SITE "J19";
LOCATE COMP "sdramAddr[9]" SITE "G16";
LOCATE COMP "sdramAddr[10]" SITE "P19";
LOCATE COMP "sdramAddr[11]" SITE "G18";
LOCATE COMP "sdramAddr[12]" SITE "F16";
LOCATE COMP "sdramBa[0]" SITE "P18";
LOCATE COMP "sdramBa[1]" SITE "R16";
LOCATE COMP "sdramData[0]" SITE "U20";
LOCATE COMP "sdramData[1]" SITE "U19";
LOCATE COMP "sdramData[2]" SITE "U18";
LOCATE COMP "sdramData[3]" SITE "U17";
LOCATE COMP "sdramData[4]" SITE "U16";
LOCATE COMP "sdramData[5]" SITE "T19";
LOCATE COMP "sdramData[6]" SITE "T20";
LOCATE COMP "sdramData[7]" SITE "T18";
LOCATE COMP "sdramData[8]" SITE "F18";
LOCATE COMP "sdramData[9]" SITE "F19";
LOCATE COMP "sdramData[10]" SITE "F20";
LOCATE COMP "sdramData[11]" SITE "E16";
LOCATE COMP "sdramData[12]" SITE "E17";
LOCATE COMP "sdramData[13]" SITE "E18";
LOCATE COMP "sdramData[14]" SITE "E20";
LOCATE COMP "sdramData[15]" SITE "E19";
IOBUF PORT "sdramClk" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramCke" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramCsN" PULLMODE=UP IO_TYPE=LVCMOS18;
IOBUF PORT "sdramRasN" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramCasN" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramWeN" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramDqmN[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramDqmN[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[4]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[5]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[6]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[7]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[8]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[9]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[10]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[11]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramAddr[12]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramBa[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramBa[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[4]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[5]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[6]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[7]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[8]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[9]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[10]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[11]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[12]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[13]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[14]" PULLMODE=NONE IO_TYPE=LVCMOS18;
IOBUF PORT "sdramData[15]" PULLMODE=NONE IO_TYPE=LVCMOS18;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

